layout {
    default_tab_template {
        // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="sysinfo" {
        floating_panes {
            pane command="neofetch"
        }
        pane close_on_exit=true {
            command "btop"
        }
        
    }
    tab name="workspace" {
        pane
    }
    
    tab name="hacks" {
        pane 
    }
}
